*{
	margin:0px;
	padding:0px;
	box-sizing: border-box;

}

.wrapper{width:1200px; margin:0px auto}

.header{
	background-image: url("web.jpg");
	background-size: cover;
	margin:0px;
    padding:0px;
    background-repeat:no-repeat;
}

.logo img{width:200px;height:80px;float: left;margin-top:10px;}
.nav ul li{display: inline-flex;float: right; margin-top:40px;}
.nav a{text-decoration: none; color:white;padding-right:40px;}
.nav img{width:17px;
         height:20px;}
.nav a:hover{

  color: dodgerblue;

}

h1 {
	margin-top:150px;
	margin-left:300px;
	font-size:80px;
	color:white;
	font-family: 'Lobster', cursive;
}
p.one{
	padding-top:10px;
	color:white;
	font-size:20px;
	padding-left:320px;
}

.btn {text-align:center;border:2px solid white;
      padding-right:30px;
	  padding-left:30px;
	  color:white;
	  height:40px;
	  margin-bottom:15px;
	  background-color: Transparent;
	  margin-left:400px;
	  margin-top: 40px;
	  border-radius:25px;
	  margin-bottom:100px;
	  }  

.btnn {text-align:center;border:none;
      padding-right:30px;
	  padding-left:30px;
	  color:white;
	  height:40px;
	  margin-bottom:15px;
	  background-color: dodgerblue;
	  margin-left:50px;
	  margin-top:40px;
	  border-radius:25px;
	  margin-bottom:100px;
	  }  
.arrow img{
	  width:40px;
	  height:30px;
	  margin-left:550px;
	  margin-bottom:50px;
}


.main-content img{
	  margin-top:50px;
	  width:890px;
	  height:400px;
	  padding-left:150px;
}
.main-content p{
	padding-left:30px;
	padding-top:20px;
}
h2{
	font-size:30px;
	padding-left:450px;
	padding-top:100px;
	font-family: 'Archivo Black', sans-serif;
}

.btn1 {text-align:center;border:2px solid black;
      padding-right:30px;
	  padding-left:30px;
	  color:black;
	  height:40px;
	  margin-bottom:15px;
	  background-color: Transparent;
	  margin-left:400px;
	  margin-top: 40px;
	  border-radius:25px;
	  margin-bottom:100px;
	  }  

.btnn1 {text-align:center;border:none;
      padding-right:30px;
	  padding-left:30px;
	  color:white;
	  height:40px;
	  margin-bottom:15px;
	  background-color: dodgerblue;
	  margin-left:50px;
	  margin-top:40px;
	  border-radius:25px;
	  margin-bottom:100px;
	  }  
.btn2 {text-align:center;border:2px solid black;
      padding-right:30px;
	  padding-left:30px;
	  color:black;
	  height:40px;
	  margin-bottom:15px;
	  background-color: Transparent;
	  margin-left:0px;
	  margin-top: 40px;
	  border-radius:25px;
	  margin-bottom:100px;
	  }  

.slideshow {
	background-color: silver;
	background-size: cover;
	min-height:450px;

}

.slideshow h3{
	margin-top:80px;
	font-family: 'Archivo Black', sans-serif;
	margin-bottom:40px;
	font-size:40px;
}
	 

.slideshow p{
	margin:0px;
	font-family: 'Archivo Black', sans-serif;
	margin-bottom:20px;
	padding:0px;
}
.slideshowright img{
	width:600px;
	height:300px;
	float:right;
}

.slideshowleft {
	float:left;
}





















@media screen and (min-width: 1024px) and (max-width: 1366px){
	.main-content {
		padding: 20px 20px 10px;
		font-size: 14px;
	}
   .header{
  	padding:20px 20px 10px;
  	 font-size: 14px;
}
.wrapper{
  	width:100%; margin:0px auto;
  }

.logo{
	width:20px;
}  
}


@media only screen and (min-width:768px) and (max-width:1024px) {
.main-content {
		padding: 20px 20px 10px;
		font-size: 14px;
	}
   .header{
  	padding:20px 20px 10px;
  	 font-size: 14px;
}
.wrapper{
  	width:100%; margin:0px auto;
  }


}


@media only screen and(min-width:375) and (max-width:812px) {
.main-content {
		padding: 20px 20px 10px;
		font-size: 14px;
	}
   .header{
  	padding:20px 20px 10px;
  	 font-size: 14px;
}
.wrapper{
  	width:100%; margin:0px auto;
  }
}


@media only screen and (min-width:414px) and (max-width:736px) {
.main-content {
		padding: 20px 20px 10px;
		font-size: 14px;
	}
   .header{
  	padding:20px 20px 10px;
  	 font-size: 14px;
}
.wrapper{
  	width:100%; margin:0px auto;
  }
}


@media only screen and(min-width:375px) and (max-width:667px) {
 .main-content {
		padding: 20px 20px 10px;
		font-size: 14px;
	}
   .header{
  	padding:20px 20px 10px;
  	 font-size: 14px;
}
.wrapper{
  	width:100%; margin:0px auto;
  }
}

@media only screen and(min-width:320px) and (max-width:568px){

}

@media only screen and(min-width:411px) and (max-width:823px){

}

@media only screen and(min-width:411px) and (max-width:731px){

}
@media only screen and(min-width:360px) and (max-width:640px){

}